#article{
    height:100%;
}

#article #issueList{
    position:relative;
}

#article #issueList .summary{
    border-collapse: collapse;
    margin-top:1em;
    border:1px solid #ccc;
    width:100%;
}
#article #issueList .summary .all{
    background-color:#f5f5f5;
}
#article #issueList .summary th,
#article #issueList .summary td{
    padding:5px;
}

#article #issueList .issues{
    list-style:none;
    width:100%;
}

#article #issueList .issues li.issue{
    border:1px solid #ccc;
    margin-top:1em;
}
#article #issueList .issues .issue:hover{
    background-color:#f4f4f4;
    border-color:#0679CA;
}
#article #issueList .issues .issue:hover .perfection span{ font-weight: bold }

#article #issueList .issues .issue .perfection{
    position:relative;
    text-align:center;
}
#article #issueList .issues .issue .perfection .percent{
    display:block;
    position:absolute;
    background-color:#2ecc71;
    height:18px;
    text-align:center;
    z-index:0;
    transition-duration:0.3s;

    top:0;
    left:0;
}
#article #issueList .issues .issue .perfection span{
    position:relative;
    vertical-align:top;

    z-index:1;
}
#article #issueList .issues .issue table.data{
    width:100%;
}
#article #issueList .issues .issue table.data td{
    text-align:center;
    padding:3px;
}
#article #issueList .issues .issue table.data td.state{ width:10%; }
#article #issueList .issues .issue table.data td.name{ width:45%; }
#article #issueList .issues .issue table.data td.created{ width:15%; }
#article #issueList .issues .issue table.data td.createName{ width:15%; }
#article #issueList .issues .issue table.data td.targetDate{ width:15%; }

#article #issueList .issues li.issue.end{
    opacity:0.6;
}
#article #issueList .issues .issue.end:hover{
    background-color:#ffffff;
    border:1px solid #ccc;
}

@media only screen and (max-width: 500px) {
    #article #issueList .issues .issue table.data td.state{ width:5%; }
    #article #issueList .issues .issue table.data td.name{ width:30%; }
    #article #issueList .issues .issue table.data td.created{ width:25%; }
    #article #issueList .issues .issue table.data td.createName{ width:15%; }
    #article #issueList .issues .issue table.data td.targetDate{ width:25%; }
}