#article{

}
#article h1{width:70%;}
#article #projectView{
    position:relative;
}
#article #projectView table{
    width:100%;

    margin-top:10px;
    border:1px solid #ccc;
    border-collapse: collapse;

    position: relative;
    top: -20px;
}
#article #projectView table th,
#article #projectView table td{
    text-align:center;
}
#article #projectView .perfection th{
    position:relative;
    padding-bottom:10px;
}
#article #projectView .perfection .percent{
    background-color:#2ecc71;
    position:absolute;
    height:18px;
    z-index:0;
    transition-duration:0.3s;
}
#article #projectView .perfection span{
    position:relative;
    z-index:1;
}

#article #projectView .data th,
#article #projectView .data td{
    padding:5px;
    border:1px solid #f5f5f5;
    border-top:0;
    border-left:0;
    border-right:0;
}
#article #projectView .issueCount{
    display:inline-block;
    text-align:center;
    font-weight:bold;
    height:30px;
    line-height:30px;
    float:right;

    position:relative;
    top:-30px;
}

#article #projectView #users{
    padding-right:20px;
}
#article #projectView #users input[type=button]{
    height:30px;
    line-height:30px;
}
#article #projectView #users .selected{
    text-align:left;
    list-style:none;
    margin-top:5px;

    width:100%;
    min-height:30px;
    padding:5px;

    border:1px solid #ccc;
}

#article #projectView #users .selected li{
    margin:5px;
    display:inline-block;
    list-style:none;
    background-color:#2f2f30;
    color:#ffffff;
    padding:5px 10px 5px 10px;
}

#article #projectView #files{
    padding-right:20px;
}
#article #projectView #files ul{
    list-style:none;

    width:100%;
    min-height:30px;

    border:1px solid #ccc;
}

#article #projectView #files ul li{
    text-align:left;
    list-style:none;
    background-color:#ffffff;
    padding:5px;
}
#article #projectView #files ul li:hover{
    background-color:#f5f5f5;
}
#article #projectView #files ul li a.name{
    vertical-align: top;
}
#article #projectView #files ul li a.down{
    display:inline-block;
    vertical-align: top;
    margin-right:10px;
    width:20px;
    height:20px;
    background-image:url('/resources/images/ic_download.png');
    background-repeat:no-repeat;
    background-position:center center;
    text-align:center;
    border:1px solid #d5d5d5;
}

#article #projectView .description{
    padding-top:10px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:30px;
    text-align:left;

    white-space:pre-line;
}

@media only screen and (max-width: 500px) {
}