@import url("http://yui.yahooapis.com/3.18.1/build/cssreset-context/cssreset-context-min.css");

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Malgun Gothic, 맑은고딕, sans-serif;
    font-size: 10pt;
    list-style:none;
}
*:active, *:hover, *:visited, *:focus{outline:none;}

html {
    width: auto;
    height: 100%;
}

body {
    height: 100%;
}

body a {
    text-decoration: none;
    color: #000;
    cursor:pointer;
}
body img{
    max-width: 98%;
}

body .template,
body .hidden {
    display: none !important;
}
body .clear{
    width:100%;
    clear:both;
}
body .wrap{
    display:block;
    position:relative;
    width:100%;
    text-align:right;
    padding-top:5px;
    padding-bottom:5px;
}
body .wrap .panel_button{
    display:inline-block;
    text-align:left;
}
body .popup_back{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:120;
    opacity: 0.8;
    background-color:#2f2f30;
}
body .popup{
    position:fixed;
    display:block;
    min-width:100px;
    min-height:100px;
    border:1px solid #ccc;
    z-index:121;
}
body .popup .head{
    height:40px;
    text-align:right;
    color:#ffffff;
    background-color:#2f2f30;
}
body .popup .head .exit{
    display:inline-block;
    width:40px;
    height:40px;
    line-height: 40px;
    text-align:center;
    font-size:1.3em;
    font-weight:bold;
    color:#ffffff;
    cursor:pointer;
}
body .popup .head .exit:hover{
    font-size:1.2em;
}
body .popup .contents{
    width:100%;
    height:calc(100% - 40px);
}

body .pagination{
    width:100%;
    padding-top:5px;
    padding-bottom:5px;
}
body .pagination ul{
    width:100%;
    list-style:none;
    text-align:center;
}
body .pagination ul li{
    display:inline-block;
    margin-left:5px;
    margin-right:5px;

    padding-left:5px;
    padding-right:5px;
    border:1px solid #f5f5f5;
}

body header{
    height:50px;
}
body aside,
body article{
    height:95%;
    display:inline-block;
    vertical-align: top;
}
body aside{
    width:200px;
    transition-duration:0.3s;
}
body article{
    width:calc(100% - 210px);
}
body h1{
    font-size:2em;
}
body input[type=checkbox]{vertical-align: middle;}

body .frame {
    margin: 0 auto;
    max-width: 1024px;
    min-width:320px;
    height: 100%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    width: 100%;
    overflow:hidden;
}
body li.reply{
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    width:100%;
    text-align:left;
}
body #replyList{
    width:100%;
    padding:10px;
    height:auto;
}
body #replyList .head,
body #replyList .body{
    width:100%;
}
body #replyList li.reply .user{
    font-weight:bold;
}
body #replyList li.reply .user .id{
    font-weight:normal;
}
body #replyList li.reply .menu .modify:hover,
body #replyList li.reply .menu .delete:hover{
    font-weight:bold;
    cursor:pointer;
}
body #replyList li.reply .modify{
    width:100%;
    position:relative;
}
body #replyList li.reply .modify input[type=text]{
    width:100%;
    height: 30px;
    line-height:30px;
    padding:5px;
    padding-right: 105px;
    border:1px solid #ccc;
    margin-top:5px;
    margin-bottom:5px;
}
body #replyList li.reply .modify .button{
    position:absolute;
    top:5px;
    min-width:50px;
    height:30px;
    line-height:30px;
}
body #replyList li.reply .modify .button.submit{
    right:50px;
}
body #replyList li.reply .modify .button.cancel{
    right:0;
}
body #replyList li.reply .contents{
    width:100%;
    white-space:pre-line;
}
body #replyList .moreReply{
    width:100%;
    background-color:#f5f5f5;
    height:30px;
    line-height:30px;
    border:1px solid #ccc;
    margin-top:5px;
}
body #replyList .moreReply:hover{
    font-weight:bold;
    cursor:pointer;
}

body #replyList .insertReply{
    width:100%;
    padding:5px;
}
body #replyList .insertReply .contents{
    height:30px;
}
body #replyList .insertReply td input{
    display:inline-block;
    vertical-align:top;
    height:30px;
    line-height:30px;
    width:100%;

    padding-left:5px;
    padding-right:5px;

    border:0px;
}
body #replyList .insertReply td.input{
    width:80px;
}

body #article{
    width:100%;
    font-size:10px;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
}

body .button{
    min-width:80px;
    padding-left:5px;
    padding-right:5px;
    height:2.5em;
    line-height:2.5em;
    background-color:#f5f5f5;
    border:1px solid #ccc;
}
body .button:hover{
    cursor:pointer;
    background-color:#ccc;
}

body .align-left{ text-align:left; }
body .align-center{ text-align:center; }
body .align-right{ text-align:right; }

@media only screen and (max-width: 800px) {
    * {
        font-size: 10pt;
    }
    body aside{
        position:fixed;
        width:200px;
        z-index:10;
        left:-200px;
    }
    body article{
        width:100%;
    }
}
@media only screen and (max-width: 500px) {
    * {
        font-size: 9pt;
    }
    body .button {
        min-width: 40px;
    }
    body .wrap .panel_button .button{
        min-width: 80px;
    }
}