<div id="aside">
    <h4>카테고리</h4>
    <div id="logo">
        <a href="/"><img src="/resources/images/logo.png"></a>
    </div>
    <ul>
        <li class="board_notice"><a href="/board/list.asp?scope=notice" scope="notice">공지사항</a></li>
        <li class="board_free"><a href="/board/list.asp?scope=free" scope="free">자유게시판</a></li>
        <li class="board_qna"><a href="/board/list.asp?scope=qna" scope="qna">Q&A</a></li>
        <li class="project_list"><a href="/project/list.asp" scope="project_list">프로젝트 목록</a></li>
        <li class="issue_list"><a href="/issue/list.asp" scope="issue_list">이슈 목록</a></li>
        <li class="mypage"><a href="/mypage" scope="my_page">마이페이지</a></li>
    </ul>
</div>