<div id="header">
    <div class="frame">
         <div id="logo" class="hidden">
            <a href="/"><img src="/resources/images/logo.png"></a>
         </div>

        <div id="account" class="hidden">
            <a>
                <div class="mypage">마이페이지</div>
            </a>
            <a>
                <div class="form">
                    <div class="id">
                        <label for="login-id">ID: </label>
                        <input type="text" id="login-id" placeholder="아이디">
                    </div>
                    <div class="pw">
                        <label for="login-pw">PW: </label>
                        <input type="password" id="login-pw" placeholder="비밀번호">
                    </div>
                </div>
                <div class="log">
                    <div class="in">로그인</div>
                    <div class="out">로그아웃</div>
                </div>
            </a>
        </div>
    </div>
</div>