<div id="caption" class="hidden"></div>
<div id="article">
    <div id="boardView">
        <h1>{pageHead}</h1>
        <table class="board">
            <thead>
            <th>{title}</th>
            <th>{createName}</th>
            <th>{created}</th>
            </thead>
            <tbody class="post">
            <tr>
                <td colspan="3"></td>
            </tr>
            </tbody>
        </table>
        <div class="wrap">
            <div class="panel_button">
                <input type="button" id="doDelete" class="button" value="삭제">
                <input type="button" id="doEdit" class="button" value="수정">
                <input type="button" id="goList" class="button" value="목록">
            </div>
        </div>
        <div class="pagination"></div>
    </div>
</div>